<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UntiBlog</title>
</head>
<body>
  <h1>Welcome to UntiBlog</h1>

  <h2>Before you start exploring our blog, please register:</h2>

  <form action="/" method="POST" role="form">
    <div class="form-group">
      <label for="exampleInputPassword1">Username</label>
      <input value=" <%= @c.name %> " name="client[name]" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Phone</label>
      <input value=" <%= @c.phone %> " name="client[phone]" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter your number phone">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input value=" <%= @c.password %> " name="client[password]" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary">Log up</button>
  </form>
</body>
</html>
